* {
  bg0     : #303446;
  bg1     : #292c3c;
  bg2     : #232634;
  bg3     : #232634;

  fg0     : #c6d0f5;
  fg1     : #b5bfe2;
  fg2     : #a5adce;

  red     : #e78284;
  green   : #a6d189;
  yellow  : #e5c890;
  blue    : #8caaee;  
  magenta : #ca9ee6;
  cyan    : #99d1db;

  accent  : #f2d5cf;
  urgent  : #eebebe;
}
